@model Product
@{
    ViewData["Title"] = "Update info about Product.";
}
<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewBag.Title</h1>
</div>
<form asp-action="EditProduct" method="post" class="mt-4 mb-4">
    @Html.HiddenFor(e => e.Id)
    <div class="form-group mt-4">
        <h6>Title</h6>
        <input asp-for="Title" class="form-control" required />
        <div><span asp-validation-for="Title" class="text-danger"></span></div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Amount</label>
            <input asp-for="Amount" type="text" class="form-control" id="inputAmount" required>
            <div><span asp-validation-for="Amount" class="text-danger"></span></div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Metric Units</label>
            <select asp-for="MetricUnit" asp-items="ViewBag.MetricUnit" class="custom-select">
            </select>
            <div><span asp-validation-for="MetricUnit" class="text-danger"></span></div>
        </div>
    </div>
    <div class="form-group mt-4">
        <h6>Category</h6>
        <select asp-for="Category" class="custom-select" asp-items="ViewBag.Category"></select>
        <div><span asp-validation-for="Category" class="text-danger"></span></div>
    </div>
    <button type="submit" class="btn btn-primary mt-5">
        Edit product
    </button>
</form>
